
header img {
    height: 80px;
    margin-left: 10%;
}
body {
    overflow:hidden;
    background: rgb(98,206,247);
    background: linear-gradient(180deg, rgba(98,206,247,1) 0%, rgba(255,255,255,1) 67%);
    height: 125vh;
    font-family: "Segoe UI Light";
    margin-top: 80px;
    padding: 30px;
    margin-bottom:50px;
}

main {
    color: white;
}

header {
    background:transparent;
    position: fixed;
    top: 0;

    left: 0;
    right: 0;
    height: 80px;
    display: inline-flex;
    align-items: center;


}

header * {
    display: inline-flex;

}

header li {
    margin: 20px;

}

a {
    color: deepskyblue;
    font-size:17px;
    text-decoration: none;
}
header li a {
    color: white;
    font-size:20px;
    text-decoration: none;
}
nav {
    background:transparent;
    display: block;
    overflow: hidden;

}

h1 {
    color:white;

}
#content {

}

.search-container{
    width: 30%;
    display: block;
    margin: 0 auto;
}


input#search-bar{
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: none;
    outline: none;
}

#footer {
    position:fixed;
    left:0px;
    top:100px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

.login-box {
    border-radius: 10px;
    background-color: white;
    border: none;
    height: 350px;
    width: 100%;
    color: black;
}